@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}
.header{
    width: 100%;
    height: 210px;
}
/* header-top */
.header-top{
    height: 150px;
    background-color: #a01a19;
    /* background-color: #7a1413; */
    display: flex;
}
.header-top-left{
    width: 320px;
    height: 100%;
    position: relative;
}
.header-left-img1{
    width: 320px;
    height: 100%;
    background-image: url(../../assets/images/trong2.png);
    background-repeat: no-repeat;
    background-position: -346.5px -159px;
    background-size: 764px;
}


.header-left-img2{    
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 320px;
    height: 100%;
    background-image: url(../../assets/images/anhCo.png);
    background-repeat: no-repeat;
    background-position: 97.5px 20px;
    background-size: 228px;
}
.header-top-right{
    width: calc(50% - 320px);
    height: 100%;
    padding: 20px 0px 10px 0px;
    color: white;
    padding-left: 20px;

}
.header-location,.header-province,.header-elelmment{
    padding: 4px 0px;
}
.header-location{
    font-size: 16px;
    font-weight: 600;
}
.header-province{
    font-size: 32px;
    font-weight: 600;
}
.header-elelmment{
    opacity: 0.9;
}
.header-bottom{
    height: 60px;
    padding: 0px 170px;
    background-color: rgb(15,90,147);
    display: flex;
}
.header-bottom-left{
    height: 100%;
    flex:2;
}
.header-bottom-right{
    height: 100%;
    flex:1;
}
.header-navbar{
    width: 100%;
    list-style: none;
    display: flex;
}
.header-navbar>li{
    display: inline-block;
    flex: 1;
    text-align: center;
    height: 60px;
    line-height: 60px;
}
.header-navbar>li>a{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-size: 16px;
    color: white;
    font-weight: 600;
    opacity: 0.9;
}
.header-navbar>li>a:hover{
    background-color: rgb(47, 106, 151);
    opacity: 1;
}
.header-bottom-right{
    display: flex;
    align-items: center;
    padding-left: 12px;
}
.header-bottom-right>input{
    width: 100%;
    height: 40px;
    border: 1px solid #bbb;
    border-radius: 8px;
    padding:0px 12px;
    font-size: 16px;
    outline: none;  
    color: #646161;
    font-weight: 600;
}
.main, .main-2, .main-3{
    width: 100%;
    height: 390px;
    padding: 20px 170px 0px 170px;
    display: flex;
    color: white;
}
.main-left,.main-2-left, .main-3-left{
    height: 100%;
    flex:2;
}
.main-left-title{
    height: 30px;
    position: relative;
}
.main-left-status{
    height: 38px;
    position: absolute;
    bottom: -9px;
    left: 0;
    padding: 0px 38px;
    font-size: 22px;
    background-color: #a01a19;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    z-index: 1;
}
.main-left-content{
    height: calc(100% - 30px);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    background-color: rgb(236,236,236);
    display: flex;
    flex-direction: column;
    background-image: url(../../assets/images/trong1.png);
    background-repeat: no-repeat;
    background-position: 450.5px -1px;
    background-size: 869px;

}
.main-content-title{
    flex: 1;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    display: flex;
    align-items: end;
    font-weight: 600;
    font-size: 22px; 
    justify-content: center; 
    color: #4b4a4a;  
}
.main-content-search{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0px 120px;
}
.main-content-search>input{
    width: 100%;
    height: 56px;
    font-size: 20px;
    border:none;
    outline: none;
    padding-left: 32px;
    color: #646161;
}
.main-content-search>input::placeholder {
    color: #000; 
    opacity: 0.5; 
  }
  
.main-content-search .main-search-icon{
    display: block;
    height: 56px;
    width: 56px;
    background-color: #a01a19;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.main-content-search .main-search-icon>i{
    width: 38px;
    height: 38px;
    font-size: 38px;
    color: white;

}
.main-content-button{
    flex: 1;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-content-button .main-content-btn{
    width: 240px;
    height: 56px;
    font-size: 22px;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 22px;
    background-color: rgb(47, 106, 151);
    cursor: pointer;
    transition: transform 0.3s ease; 
}
.main-content-btn a{
    text-decoration: none;
    color: white;
}
.main-content-button .main-content-btn:hover{
    transform: scale(1.05);
    box-shadow: 1px 8px 5px rgb(163 163 235 / 50%);
}
.main-content-button .btn-2{
    background-color: #1fb00b;
}
.main-right{
    flex:1;
    padding-left: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.main-2-right, .main-3-right{
    flex:1;
    padding-left: 12px;
}
.main-right-button {
    width: 100%;
    height: 118px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    padding: 0px 152px;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease; 
}
.main-right-button:hover{
    transform: scale(0.97);
}

.btn-right-1{
    background-color: #a01a19;
    background-image: url(../../assets/images/trong.png);
    background-repeat: no-repeat;
    background-position: 336.5px -25px;
    background-size: 323px;
}
.btn-right-2{
    background-color: #2485c9;
    background-image: url(../../assets/images/trong.png);
    background-repeat: no-repeat;
    background-position: 336.5px -25px;
    background-size: 323px;
}
.btn-right-3{
    background-color: #1fb00b;
    background-image: url(../../assets/images/trong.png);
    background-repeat: no-repeat;
    background-position: 336.5px -25px;
    background-size: 323px;
}
.main-right-button .main-right-icon{
    display: block;
    height: 82px;
    width: 82px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-right-button .main-right-icon>i{
    width: 48px;
    height: 48px;
    font-size: 48px;
    color: white;
}
.main-right-text{
    flex:1;
    padding-left: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.main-right-text a{
    text-decoration: none;
    color: white;
}
.main-1{
    width: 100%;
    height: 198px;
    padding: 40px 170px;
    display: flex;
    justify-content: space-between;
}
.main-1-btn{
    flex: 1;
    background-color: #1fb00b;
    margin: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0px 60px;
    border-radius: 8px;
    transition: transform 0.3s ease;
    position: relative;
}
.main-1-btn:hover{
    cursor: pointer;
    transform: scale(1.05);
}
.btn-cut-start{
    margin-left: 0px;
}
.btn-cut-end{
    margin-right: 0px;
}
.main-1-number{
    width: 56px;
    height: 56px;
    margin-right: 16px;
}
.main-1-number>button{
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border:1px solid white;
    color: white;
    font-size: 32px;
}
.main-1-btn .main-1-text{
    font-size: 20px;
    color: white;
    font-weight: 500;
}
.main-1-text a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-weight: 500;
}
.button-icon{
    display: inline-block;
    margin-right: 10px;
    position: absolute;
    top: 16px;
    left: -5px;
    border-top: 42px solid transparent;
    border-bottom: 42px solid transparent;
    z-index: 1;
}
.button-icon-2{
   display: inline-block;
    margin-right: 10px;
    position: absolute;
    top: 16px;
    left: 0px;
    border-top: 42px solid transparent;
    border-bottom: 42px solid transparent;
    border-left: 35px solid white;
    z-index: 0;
}
.main-1-btn-1,.main-1-btn-1 button{
    background-color: #1fb00b;
}
.main-1-btn-2,.main-1-btn-2 button{
    background-color: #1b3b6e;
}
.main-1-btn-2 .button-icon{
    border-left: 35px solid #1b3b6e;
}

.main-1-btn-3,.main-1-btn-3 button{
    background-color: #592e75;
    
}
.main-1-btn-3 .button-icon{
    border-left: 35px solid #592e75;
}

.main-1-btn-4,.main-1-btn-4 button{
    background-color: #a01a19;
}
.main-1-btn-4 .button-icon{
    border-left: 35px solid #a01a19;
}
.main-1-btn:hover .button-icon{
    display: inline-block;
    margin-right: 10px;
    position: absolute;
    top: 16px;
    left: 0px;
    border-top: 42px solid transparent; 
    border-bottom: 42px solid transparent;
    transition: all 0.3s ease;
}
.main-2, .main-3{
    padding-top: 0;
    padding-bottom: 20px;
}
.main-2-left{
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
}
.main-2-left .main-2-left-title{
    background-color: rgb(15, 90, 147);;
    height: 40px;
    line-height: 40px;
    padding: 0px 38px;
    font-weight: 600;
}
.main-2-left-content{
    font-size: 16px;
    font-weight: 500;
    padding: 0px 38px;
    color: #000;
}

.main-2-content-define{
    padding-top: 40px;
}
.content-document-title{
    position: relative;
}
.document-title-point{
    position: absolute;
    width: 32px;
    height: 22px;
    top: 14px;
    left: -38px;
    background-color: #a01a19;
}
.main-2-right-title{
    background-color: #2a94d4;
    height: 40px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-2-right-content{
    width: 100%;
    height: calc(100% - 40px);
}
#main-2-chart{
    width: 100%;
    height: 100%;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}
.main-3-left{
    background-color: #1b3b6e;
    background-image: url(../../assets/images/anhTrong.jpg);
    background-repeat: no-repeat;
    background-position: -524.5px -690px;
    background-size: 1718px;
}
.main-3-left .main-3-content{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px;
}
.main-3-left-image{
    display: block;
    height: 100%;
    width: 380px;
    background-image: url(../../assets/images/1.png);
    background-repeat: no-repeat;
    background-position: 181px 62px;
    background-size: 187px;
}
.main-3-left-text{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #89423e;

}
.main-3-left-text>p{
    font-size: 36px;
    font-weight: 600;
    font-family: emoji;
}
.main-3-left-text>p>span{
    font-size: 64px;
    font-family: 'Clicker Script', cursive;
}
.main-3-left-text>a{
    font-size: 28px;
    text-decoration: none;
    font-weight: 500;
    color: #89423e;
}
.main-3-right{
    display: flex;
    flex-direction: column;
}
.main-3-right-img-1{
    width: 100%;
    height: 200px;
    background-image: url(../../assets/images/ctdbpjpg.jpg);
    background-repeat: no-repeat;
    background-position: 2px -166px;
    background-size: 515px;
}
.main-3-right-img-2{
    width: 100%;
    height: 200px;
    background-image: url(../../assets/images/dothi.jpg);
    background-repeat: no-repeat;
    background-position: 2px -20px;
    background-size: 515px;
}
.footer{
    width: 100%;
    height: 160px;
    padding: 30px 170px;
    display: flex;
    background-color: #a01a19;
    color: white;
    background-image: url(../../assets/images/trong.png);
    background-repeat: no-repeat;
    background-position: 1229px -75px;
    background-size: 526px;
}
.footer-left{
    flex: 2;
    display: flex;
    flex-direction: column;
}
.footer-right{
    flex: 1;
    padding-left: 12px;
}
.footer-left-content{
    flex: 1;
    display: flex;
    align-items: center;
}
.footer-left-content span{
    font-size: 16px;
    opacity: 0.9;
}
.footer-content-left{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.footer-content-left>h5{
    padding: 6px 0px;
}
.footer-content-right{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.footer-content-right>p{
    flex: 1;
    padding: 13.5px 0px;
}
.footer-content-right>span{
    flex: 1;
}
.footer-right{
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 30px;
}
.footer-right .footer-right-icon{
    width: 48px;
    height: 48px;
}
.footer-right .footer-right-icon i{
    font-size: 48px;
}
.footer-right p{
    font-size: 24px;
    font-weight: 600;
    font-family: cursive;
}
